article {
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 30px;
  margin: 10px;
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
}

article:hover {
  background-color: #f5f5f5;
  transform: scale(1.1);
  transition: 0.5s ease;

}

article.selected {
  background-color: red;
}


button {
  font-size: 1rem;
  border-width: 0;
  background-color: #d8d8d8;
  padding: 0.5rem;
  border-radius: 1rem;
  margin: 5px;
}


.users button:hover {
  background-color: #c0c0c0;
}

button:active {
  color: #fff;
}

button:focus {
  outline: none;
  box-shadow: 0 0 3px #c0c0c0;
}