section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body{
  text-align: center;
}
.container {
display: flex;
flex-direction: column;
align-items: center;
}
.users {
  display: block;
}

.counters {
  display: flex;
}

.container div {
  margin: 0 30px;
}